# Virtual environment

venv/
env/

# Python cache

**pycache**/
*.pyc
*.pyo

# Database

*.sqlite3

# Environment variables

.env

# Logs

*.log

# OS files

.DS_Store
Thumbs.db

# Editor

.vscode/
.idea/

# Cache

.cache/
